
html
	head
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="customSwop.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
			
	body(id="aboutPage")
		include nav
		
		div.spacer200

		.paragraphs
			.row
				.span4
					.clearfix.content-heading
						img.pull-left(src="images/about/cotton.jpg")
						h3 Our Story
						p We all know these moment when you check out your wardrobe but have ‘nothing to wear’ or you’re just bored with it. We keep buying new items to update our style and stay in fashion every season, but lots of catchy items just keep hanging in your wardrobe.
						p By Swopping you can let these items shine again and change up your own collection at the same time. Borrow others’ pieces and earn Swop credit by lending out your own. Always look fabulous, never get bored.
						p And do you know what is best? You save money and fight overconsumption and fast-fashion industry at the same time, karma points guaranteed!
		div.spacer100

		div.greenblock
			p.white Become a Swopper
			a(href="/signup",type="button" class="btn btn-default" id="whitebutton") Subscribe now

		br
		br

		span
			img(src="/images/index/whyChoose.png", alt='Why choose?' class="center-block" id="icons")

		br
		br
		include footer

	
	script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
