html
	head
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="customSwop.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
			
	body(id="howitworksPage")
		include nav

		div.spacer200

		.paragraphs
			div.row
				.span4
					.clearfix.content-heading
						img.pull-left(src="images/howitworks/howitworks.png" id="howitworksimg")
						h3 How it Works
						img.pull-right(src="images/howitworks/list.png" id="list")
						p(id="underlisttext") We will take care of the hygiene and quality of the clothing collection we are borrowing, but always treat the items you borrow with respect! Damaged something? Don't worry, we will repair easy fixes and we dont consider wear as damage. Please read our policy about damaging and lost goods for more information.

		.spacer200


		include footer

	
	script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
