html
	head
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="customSwop.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
			
	body(id="uploaditemPage")
		include nav
		div(class="container")
			div(class="row")
				div(class="col-sm-4 col-sm-offset-2" id="parentDiv1Upload")
					br
					h4(class="titleFont") Upload item
					br

					form(action="/uploaditem" method="POST" enctype="multipart/form-data" class="input-group input-group-sm")
						div(class="row")
							div(class="col-sm-4")
								img#iconUpload(src="images/uploadPage/uploadIcon.png")
								input(type="file" name="file" id="file")
							div(class="col-sm-7 col-sm-offset-1")
								select(class="form-control" required)
									option(value="" disabled selected) Categories*
									option(value="Coats & Jackets") Coats and Jackets
									option(value="Hoodies") Hoodies
									option(value="Sweatshirts") Sweatshirts
									option(value="Cardigans") Cardigans
									option(value="Jeans") Jeans
									option(value="Trousers") Trousers
									option(value="Skirts") Skirts
									option(value="Shorts") Shorts
									option(value="Suits") Suits
									option(value="Dresses") Dresses
									option(value="Jumpsuits") Jumpsuits
									option(value="Accessories") Accessories

								select(class="form-control" required)
									option(value="" disabled selected) Size*
									option(value="XS") XS
									option(value="S") S
									option(value="M") M
									option(value="L") L
									option(value="XL") XL
						div(class='row')
							div(class="col-sm-4")
								input(id="uploadbuttons" class="form-control" type="button" value="Women" required)
							div(class='col-sm-4')
								input(id="uploadbuttons" class="form-control" type="button" value="Men" required)


						input(class="form-control" type="text" placeholder="Brand")
						select(class="form-control" required)
									option(value="" disabled selected) Borrow time*
									option(value="3") 3 months
									option(value="4") 4 months
									option(value="5") 5 months
									option(value="6") 6 months
									option(value=">6") More than 6 months
						input(class="form-control" type="text" placeholder="comments")

						div(class='row')
							div(class="col-sm-4")
								input(class="form-control" type="button" value="New" required)
							div(class='col-sm-4')
								input(class="form-control" type="button" value="Good as new" required)
							div(class="col-sm-4")
								input(class="form-control" type="button" value="Used" required)

						input(type="submit" name="submit" id="submit" value="Send " class="btn btn-default")

				div(class="col-sm-4" id="parentDiv2Upload")
					img#uploadBackgrPhoto(src="/images/uploadPage/backgrUploaditem.png")
					h3(class="titlefont", id="photoTextUpload") When you've uploaded your item we will let you know if it is sufficient for swopping.




		.spacer200
		.spacer200




		include footer


	script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

	script.
		$(document).ready(function(){

			$(".form-control").click(function(){
			$(".form-control").removeAttr("id", "uploadbuttons")
			$(this).attr('id', 'uploadbuttons')

				})
			})
		//- $("#uploadbuttons").click(function(){
		//- 	$('#uploadbuttons').focus({
		//- 		'background-color': '#5C715F',
		//- 		'color': 'white',

		//- 			 });
		//- 			});
